@font-face {
    font-family: 'icomoon';
    src:  url('../../assets/fonts/icomoon.eot?41m5bq');
    src:  url('../../assets/fonts/icomoon.eot?41m5bq#iefix') format('embedded-opentype'),
      url('../../assets/fonts/icomoon.ttf?41m5bq') format('truetype'),
      url('../../assets/fonts/icomoon.woff?41m5bq') format('woff'),
      url('../../assets/fonts/icomoon.svg?41m5bq#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-clipboard:before {
    content: "\e9b8";
  }
  .icon-info:before {
    content: "\ea0c";
  }
  .icon-group:before {
    content: "\f0c0";
  }
  .icon-users:before {
    content: "\f0c0";
  }
  

* {
    box-sizing: border-box;
}
a{
    text-decoration: none;
    display: inline-block;
}
ul,
li{
    list-style: none;
    margin: 0;
    padding: 0;
}
.container {
    max-width: 1600px;
    margin: 0 auto;
}

body{
    outline: 1px solid red;
    margin: auto;
    padding: 0;
    font: 16px Helvetica,Arial,sans-serif;
    max-width: 1920px;
    min-width: 320px;
    color: #7a7a7a;
}

//vars
    //color
$primaryColor: #2ba764;
    //fontSize
$fontSizeTitle: 40px;
//mixin
@mixin btn {
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 19px;
    color: #fff;
    background-color: $primaryColor;
    padding: 17px 40px 17px 60px;
    border-radius: 26px;
    box-shadow: 0px 15px 40px 0px rgb(48 159 94 / 30%);
    transition: all .15s ease-out;
    &:hover {
        color: #fff;
        background-color: #292929;
    }
    span {
        position: relative;
        &::before {
            content: '';
            position: absolute;
            background: url(../../assets/img/telephone-fill.svg);
            width: 16px;
            height: 16px;
            left: -25px;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}
//header
.header {
    background-image: url(../../assets/img/bg.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    &::before {
        content: '';
        position: absolute;
        background-image: linear-gradient(91deg,#070707 0%,rgba(36,36,36,0) 60%);
        opacity: .75;
        width: 100%;
        height: 100%;
    }
    min-height: 1078px;
    margin-bottom: 175px;
}
.header__top {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__logo {
}
.Btn {
    @include btn();
}
.header__bottom {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    min-height: 800px;
}
.header__title {
    font-size: 50px;
    font-weight: 700;
    line-height: 70px;
    letter-spacing: -1.8px;
    color: #fff;
    margin-bottom: 20px;
    span{
        color: #079348;
    }
}
.header__dscr {
    font-weight: 200;
    line-height: 25px;
    color: #ffffffB3;
    margin-bottom: 36px;
}
//ourAdvantages
.ourAdvantages {
    margin-bottom: 180px;
}
.ourAdvantages__box {
    display: grid;
    grid-template-columns: 1fr 1.8fr;
    gap: 20px;
}
.ourAdvantages__left {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}
.ourAdvantages__title {
    font-size: $fontSizeTitle;
    font-weight: 700;
    letter-spacing: -2px;
    color: #000;
    margin-bottom: 15px;
}
.ourAdvantages__dscr {
    font-weight: 500;
    line-height: 25px;
    letter-spacing: -.5px;
    color: #000000B3;
}
.ourAdvantages__right {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 30px;
}

.ourAdvantages__inner {
    padding: 42px 35px 42px 48px;
    border-radius: 20px;
    box-shadow: 0px 3px 60px 0px rgba(0,0,0,.0784313725490);
    color: #000;
    position: relative;
    padding-left: 120px;
    &::before {
        content: "\ea0c";
        font-family: 'icomoon';
        position: absolute;
        color: #0cd68a;
        font-size: 60px;
        left: 20px;
        top: 50%;
        transform: translateY(-50%);
    }
    &:hover {
        background: linear-gradient(135deg,rgb(122,220,180) 0%,rgb(2, 171, 109) 100%);
        color: #fff !important;
    }
    &:hover::before{
        color: #fff;
    }

   
}
.ourAdvantages__inner-wrapper{
    width: 100%;
    height: 100%;
}
.ourAdvantages__inner .ourAdvantages__inner-wrapper {

}
.ourAdvantages__inner:nth-child(2) {
    &::before {
        content: "\f0c0";
    }
}
.ourAdvantages__inner:nth-child(3) {
    &::before {
        content: "\e9b8";
    }
}
.ourAdvantages__name {
    font-size: 20px;
    font-weight: 800;
    letter-spacing: -.6px;
}
.ourAdvantages__mini-dscr {
    letter-spacing: -.48px;
    line-height: 1.5;
}
//services
.services {
    color: #000;
}
.services__title {
    font-size: $fontSizeTitle;
    font-weight: 700;
    letter-spacing: -.5px;
    margin-bottom: 100px;
    position: relative;
    padding-left: 130px;
    &::before {
        content: url(../../assets/img/Path_218.svg);
        position: absolute;
        width: 99px;
        height: 98px;
        top: 50%;
        padding: 23px 37px;
        left: 0;
        transform: translateY(-50%);
        background-image: linear-gradient(133deg,#0cd68a,#309f5e);
        border-radius: 500px;
        box-shadow: 0 15px 40px rgb(12 214 138 / 30%);
    }

}
.services__box {
    background-color: transparent;
    background-image: linear-gradient(180deg,#93f1c7 0%,#fff 100%);
    border-radius: 50%;
}
.services__inner {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 100px;
    margin-bottom: 100px;
}
.services__left {
    display: flex;
    max-height: 505px;
    max-width: 748px;
    box-shadow: 10px 20px 60px 0pxrgba(43,61,54,.2);
}
.services__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}
.services__name {
    font-size: 30px;
    font-weight: 600;
    line-height: 60px;
    letter-spacing: -1.2px;
}
.services__dscr {
    font-size: 18px;
    line-height: 27px;
    letter-spacing: -.5px;
}